.boxesWrapper{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 134px);
    grid-gap: 0.5rem;    
}

.box {
    border: #ddd 1px solid;
    padding: 0.5rem;
    border-radius: 4px;
    width: 100%;
    height: 134px;
    background-color: #fff;
    position: relative;
}
.box:hover .title{
    opacity: 0;
}
.box:hover .iconButtons{
    display: flex;
}
.title{
    font-size: 0.8rem;
    font-weight: 500;
    color: #000;
    width: 100%;
}
.thumbnailWrapper{
    height: 88px;
    overflow: hidden;

    display: flex;
    align-items: center;
}
.thumbnail{
    width: 100%;
}
.iconButtons{
    position: absolute;
    gap: 0.25rem;
    height: 2rem;
    overflow: hidden;
    display: none;
    background-color: #fff;
    top: 0.5rem;
    left: 0.5rem;
}
.iconButton {
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;
}
.iconButton:hover {
    background-color: #E9E9E9;
}
.iconButton img{
    width: 1.5rem;
}