.boxesWrapper{
    width: 100%;
    display: grid;

    grid-gap: 0.5rem;    
}

.box {
    border: #ddd 1px solid;
    padding: 0.5rem;
    border-radius: 4px;
    width: 100%;
    height: 134px;
    background-color: #fff;
    position: relative;
}

.boilerplate{
    border: #ddd 1px solid;
    padding: 0.5rem;
    border-radius: 4px;
    width: 100%;
    height: 196px;
    background-color: #fff;
    position: relative;
}

.boilerplate:hover .title,
.box:hover .title{
    opacity: 0;
}

.boilerplate:hover .iconButtons,
.box:hover .iconButtons{
    display: flex;
}

.boilerplate:hover .description{
    display: block;
}
.title{
    font-size: 0.75rem;
    font-weight: 500;
    color: #555;
    height: 1rem;
    overflow: visible;
 
    position: absolute;
   top: 0.5rem;
}

.description{
    display: none;
    width: 100%;
    height: 148px;
    position: absolute;
    color: #999;
    bottom: 0.25rem;
    background-color: #fff;
    width: calc(100% - 1rem);
    z-index: 10;
}

.thumbnailWrapper{
    position: absolute;
    bottom: 0.5rem;
    width: calc(100% - 1rem);
    height: 88px;
    overflow: hidden;
    display: flex;
    align-items: center;
    z-index: 0;
}


.boilerplate .thumbnailWrapper{
    height: 154px;


}
.thumbnail{
    width: 100%;

}
.iconButtons{
    position: absolute;
    gap: 0.25rem;
    height: 2rem;
    overflow: hidden;
    display: none;
    background-color: #fff;
    top: 0.5rem;
    left: 0.5rem;
}
.iconButton {
    width: 1.6rem;
    height: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;
}
.iconButton:hover {
    background-color: #E9E9E9;
}
.iconButton img{
    width: 1rem;
}
.link{
    text-decoration: none;
}
.article{
    font-size: 0.75rem;
    cursor: pointer;
    width: 100%;
    padding: 0.5rem;
    color: var(--figma-color-text);
    border-radius: 0.125rem;
    background-color: var(--figma-color-bg-secondary);
    text-decoration: none;
}


.article:hover{
    background-color: var(--figma-color-border-disabled);
}



.about{
    padding: 4rem;
    color: var(--figma-color-text);
}

.about p{
    text-align: center;
}

.about .article {
    text-align: center;
}